# Python Files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.log

# Poetry and Pip Files
poetry.lock
.venv/

# Logs and Temporary Fles
*.log
*.tmp
*.swp
.DS_Store
*.bak

# Playwright (Web Scraping)
playwright/.cache/
playwright/.local-browsers/

# Cassandra Files
cassandra_docker.yaml
cassandra/data/
cassandra/commitlog/
cassandra/saved_caches/
data

# VSCode Files
.vscode/

# Docker Files
docker-compose.yml

# Environment Files
.env

# Chatbot Files (unnecessary file like AI in powershell)
backend/chatbot.py
backend/assistant/note.py
backend/login_teste.txt
chatbot-ui/node_modules
