# Arquivos do Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.log

# Arquivos do Poetry e Pip
poetry.lock
.env
.venv/

# Logs e Arquivos Temporários
*.log
*.tmp
*.swp
.DS_Store
*.bak

# Playwright (Web Scraping)
playwright/.cache/
playwright/.local-browsers/

# Arquivos do Cassandra
cassandra/data/
cassandra/commitlog/
cassandra/saved_caches/

# Arquivos do VSCode
.vscode/

# Arquivos do Docker (se aplicável)
cassandra_docker.yaml
docker-compose.yaml
data/cassandra_db
data/cassandra_fql

