# Arquivos do Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.log

# Arquivos do Poetry e Pip
poetry.lock
.env
.venv/

# Logs e Arquivos Temporários
*.log
*.tmp
*.swp
.DS_Store
*.bak

# Playwright (Web Scraping)
playwright/.cache/
playwright/.local-browsers/

# Arquivos do Cassandra
cassandra_docker.yaml
cassandra/data/
cassandra/commitlog/
cassandra/saved_caches/
cassandra_db
cassandra_fql

# Arquivos do VSCode
.vscode/

# Arquivos do Docker
docker-compose.yml

# Arquivos do environment
.env

